@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Orbitron:wght@400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
}

body{
    background-color: #2C2C2C;
    white-space: nowrap;
}

/*===== SECTIONS FÜR DIE ZÄHLERSTÄNDE =====*/

/*----- ALLGEMEIEN ANGABEN -----*/

section{
text-align: center;
}

article{
    display: inline-block;
    width: 50%;
}

div{
    width: 489px;
    height: 489px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 123px;
}

.points-base{
    margin-left: auto;
    margin-right: auto;
    background-color: #000000;
    width: 80%;
    height: 80%;
    border-radius: 40px;
}

.points-home, .points-away{
    padding-top: 25%;
    font-family: 'Orbitron', sans-serif;
    font-size: 150px;
    color: #FDF860;
    text-align: center;
}

.box-team-name{
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
}

.team-name-home, .team-name-away{
    position: relative;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #2C2C2C;
    font-family: 'Orbitron', sans-serif;
    font-size: 37px;
    text-align: center;
}

li{
    display: inline-block;
    width: 105px;
    height: 105px;
    padding: 31px;
    margin-bottom: 82px;
    margin-right: 25px;
    border-radius: 20px;
}

ul{
    list-style: none;
    margin-top: 137px;
    text-align: center;
    font-size: 37px;
}

/*----- ANGABEN FÜR DAS HOME-TEAM -----*/

.home-team .points-base{

    outline: #97F5BB 5px solid;
    outline-offset: 37px;
}

.home-team li{
    background-color: #97F5BB;
}

/*----- ANGABEN FÜR DAS AWAY-TEAM -----*/

.away-team .points-base{
    outline: #525DF4 5px solid;
    outline-offset: 37px;
}

.away-team li{
    background-color: #525DF4;
}

/*===== FOOTER MIT RESET-BUTTON =====*/

footer{
    margin-left: auto;
    margin-right: auto;
}

button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 49px;
    padding: 10px 41px;
    background-color: #FFFFFF;
    font-size: 16px;
    border-radius: 10px;
}

/*===== MODAL =====*/

.modal {
    /* display: none; */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: rgba(0,0,0,0.4); 
}

.modal article{
    margin: 15% auto;
    width: 60%;
    background-image: linear-gradient(to bottom, #525DF4, #97F5BB);
    border-radius: 40px;
    padding: 10px;
}

.close {
    color: #aaa;
    float: right;
    margin-right: 10px;
    font-size: 28px;
    font-weight: bold;
  }

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

input{
    height: 35px;
    font-size: 16px;
    text-align: center;
}

h2{
    font-size: 20px;
    margin-bottom: 4px;
    color: #2C2C2C;
}

.modal p{
    margin-bottom: 6px;
}

#home-rename{
    width: 30%;
    display: inline-block;
    height: 80px;
    margin-bottom: 30px;
}

#away-rename{
    width: 30%;
    display: inline-block;
    height: 80px;
    margin-bottom: 30px;
}